# docker compose preference CPU or GPU
COMPOSE_FILE=docker-compose.yml:docker-compose.gpu.yml
# COMPOSE_FILE=docker-compose.yml:docker-compose.cpu.yml

# ──────────────────────────────────────────────
# BioParser API
# ──────────────────────────────────────────────

# BioParser FastAPI port
BIOPARSER_PORT=8080

# In docker compose use: http://vllm:8000/v1
# For local development without docker use: http://localhost:8000/v1
BIOPARSER_VLLM_BASE_URL=http://localhost:8000/v1

# ──────────────────────────────────────────────
# vLLM
# ──────────────────────────────────────────────

# Model served by vLLM
#
# e.g. if we want the 2-bit Qwen3.8 model optimized by unsloth
#      from https://huggingface.co/unsloth/Qwen3.8-27B-GGUF
#
#    unsloth/Qwen3.8-27B-GGUF:UD-IQ2_XXS  (7.27 GB)
#    unsloth/Qwen3.5-4B-GGUF:UD-IQ2_XXS  (1.52 GB (older, but smaller for testing))

VLLM_MODEL=Qwen/Qwen3-0.6B
VLLM_PORT=8000
VLLM_GPU_FRACTION=0.45
# HugginFace token (needed to download pretrained models)
HF_TOKEN=

# ──────────────────────────────────────────────
# mineru
# ──────────────────────────────────────────────

BIOPARSER_MINERU_BASE_URL=http://mineru:8000
BIOPARSER_MINERU_TIMEOUT_SECONDS=900
MINERU_PORT=8001
MINERU_VIRTUAL_VRAM_SIZE=2

# vLLM runs with no auth by default: "EMPTY" 
# Set this if vLLM is started with --api-key.
BIOPARSER_VLLM_API_KEY=EMPTY
