# ──────────────────────────────────────────────
# BioParser API
# ──────────────────────────────────────────────

# BioParser FastAPI port
BIOPARSER_PORT=8080

# In docker compose use: http://vllm:8000/v1
# For local development without docker use: http://localhost:8000/v1
BIOPARSER_VLLM_BASE_URL=http://localhost:8000/v1

# ──────────────────────────────────────────────
# vLLM
# ──────────────────────────────────────────────

# Model served by vLLM
#
# e.g. if we want the 2-bit Qwen3.8 model optimized by unsloth
#      from https://huggingface.co/unsloth/Qwen3.8-27B-GGUF
#
#    unsloth/Qwen3.8-27B-GGUF:UD-IQ2_XXS  (7.27 GB)
#    unsloth/Qwen3.5-4B-GGUF:UD-IQ2_XXS  (1.52 GB (older, but smaller for testing))
#
#VLLM_MODEL=unsloth/Qwen3.5-4B-GGUF:UD-IQ2_XXS
#VLLM_TOKENIZER=unsloth/Qwen3.5-4B-GGUF
VLLM_MODEL=Qwen/Qwen3-0.6B
VLLM_PORT=8000

# HugginFace token (needed to download pretrained models)
HF_TOKEN=
